<!DOCTYPE html5>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
</head>

<body>
    <h1>Add a new course</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div style="width: 80%; margin: auto">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name_input" class="col-sm-4 col-form-label">Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name_input" name="name_input">
                </div>
            </div>
            <div class="form-group row">
                <label for="description_input" class="col-sm-4 col-form-label">Description:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="description_input" name="description_input"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add new course</button>
        </form>
    </div>
    <h2>Courses</h2>
    <table class="table table-striped table-bordered" style="width: 80%; margin: auto;">
        <thead class="thead-dark">
            <tr>
                <th>Course name</th>
                <th>Description</th>
                <th>Date added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description.description }}</td>
                <td>{{ course.created_at|date:'F d, Y h:iA' }}</td>
                <td>
                    <a href="{% url 'course_comments' id=course.id %}">comments</a>
                    |
                    <a href="{% url 'course_destroy' id=course.id %}">remove</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No course found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>