<fieldset class="border p-2">
    <legend class="w-auto" style="font-size: small;">Edit description</legend>
    <form action="{% url 'user_update' id=user.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="last_name_input">Description</label>
            <br>
            <textarea id="description_input"  name="description_input" style="width: 100%;" required>{{ user.description }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update description</button>
        </div>
    </form>
</fieldset>