<fieldset class="border p-2">
    <legend class="w-auto" style="font-size: smaller;">Change password</legend>
    <form action="{% url 'user_update' id=user.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="password_input" class="sr-only">Password</label>
            <input type="password" id="password_input" name="password_input" class="form-control" placeholder="Password"
                required>
        </div>
        <div class="form-group">
            <label for="confirm_input" class="sr-only">Confirm the new password</label>
            <input type="password" id="confirm_input" name="confirm_input" class="form-control"
                placeholder="Confirm your password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update password</button>
        </div>
    </form>
</fieldset>